@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Fredoka+One&family=Gluten&family=Roboto:wght@100&family=Signika:wght@300;400;500;600;700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: #40e0d0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.header li {
  margin-right: 6rem;
}

header a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(255, 214, 221);
}
