@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Fredoka+One&family=Gluten&family=Roboto:wght@100&family=Signika:wght@300;400;500;600;700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: #40e0d0;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight: bold;
}
