.logo-text {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5rem;
  font-weight: 100;
  color: #ffffff;
}

.logo-block {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 5rem;
  height: auto;
  margin-right: 1rem;
}

.logo-image img {
  width: 100%;
}
